<script src="https://unpkg.com/htmx.org@1.9.8"></script>


<h1>Hello, world!</h1>

Welcome to your new app.

<CurrentDate/>


<button hx-get="/current-date"
        hx-target="#currentdate">Refresh</button>

@code {

}